/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    
    --dark-cian: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
   
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;

}

.left{
    width: 50%;
}

.right{
    width: 50%;
}

p{
    font-size: 14px;
}

body{
    background-color: var(--Cream);
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-content: center;
    align-items: center;
}

p{
    display: block;
}

.box{
    background-color: white;
    width: 90vw;
    min-height: 93vh;
    border-radius: 10px;
    overflow: hidden;
}

aside {
    width: 50%;
    min-height: 55vh;
    padding: 25px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

#perfume{
    font-size: 0.9em;
    color: var(--dark-cian);
    letter-spacing: 0.2em;
    font-family: var(--font1);
}

h1{
    font-family: var(--font2);
    font-size: 2em;
    line-height: 1em;
}

.about{
    color: var(--Dark-grayish-blue);
    font-family: var(--font1);
    line-height: 1.5em;
    font-size: 1em;
}
span{
    font-size: 1.8em;
    color: var(--dark-cian);
    font-family: var(--font2);
}

sup{
    display: block;
    margin-left: 10em;
    font-size: 0.8em;
    color: var(--Dark-grayish-blue);
}

img{
    max-width: 100%;
}

svg{
    vertical-align: text-bottom;
    margin-right: 0.5em; 
}

@media screen and (min-width: 376px) {
    h1{
        text-align: left;
    }
    div.img{
        width: 50%;
    }
   .box{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 580px;
        min-height: 50vh;
    }
img{
    height: 100%;
    width: 100%;
}
aside{
    width: 50%;
    padding: 25px;    
}
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

:root {
    /* primary */
    --darkCyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
  
    /* neutral */
    --veryDarkBlue: hsl(212, 21%, 14%);
    --darkGrayishBlue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);

    --font1: 'Montserrat', sans-serif;
    --font2: 'Fraunces', serif;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    background-color: var(--Cream);
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* smallest height it can go else add scroll */
  }
  
  /* flex card */
  .card-container {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* horizontal for container */
    border-radius: 12px;
    margin: 1em;
  }
  
  .img {
    content: url("https://i.ibb.co/sCpZ8W0/image-product-mobile.jpg ");
    width: 20em;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .content{
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .product {
    width: 18em;
    padding: 1.5em;
  }
  
  .perfume {
    color: var(--darkGrayishBlue);
    font-size: 0.7rem;
    letter-spacing: 5px;
    padding-top: 0;
    padding-bottom: 0.5rem;
  }
  
  /* typography */
  .heading {
    font-family: "Fraunces", serif;
    color: var(--veryDarkBlue);
    padding-bottom: 0;
    line-height: 2rem;
    font-size: 1.8em;
  }
  
  p {
    color: var(--darkGrayishBlue);
    line-height: 1.1;
    padding-top: 0.9rem;
    font-size:smaller  ;
  }
  
  /* price */
  .price {
    display: flex;
    align-items: center;
    padding: 1em 0;
  }
  
  .discount {
    color: var(--darkCyan);
    font-size: 2.0em;
    font-family: "Fraunces", serif;
  }
  
  .initial-price {
    padding-left: 1em;
    text-decoration-line: line-through;
    color: var(--darkGrayishBlue);
  }
  
  /* add to cart button */
  #cart {
    padding-right: 0.5em;
  }
  
  button {
    background-color: var(--darkCyan);
    font-family: var(--font2);
    color: var(--White);
    width: 100%;
    padding: 0.8em;
    margin-top: 0.8em;
    border-radius: 8px;
    border: none;
    font-family: "Fraunces", serif;
    font-size: 1em;
  }
  
  button:hover,
  button:focus {
    background-color: hsl(158, 45%, 20%);
    outline: none;
  }
  
  /* footer */
  footer {
    font-size: 0.6875em;
    text-align: center;
  }
  
  footer a {
    color: var(--darkCyan);
    text-decoration-line: none;
  }
  
  /* for screen higher than 600px */
  @media only screen and (min-width: 600px) {
    .img {
      content: url("https://i.ibb.co/YhZ1BpM/image-product-desktop.jpg ");
      width: 18em;
      height: 25em;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
  
    .product {
      height: 25em;
    }
  
    .card-container {
      flex-direction: row;
      justify-content: space-between; /* vertical for container */
    }
  
    h1 {
      line-height: 1;
      font-size: 1rem;
    }
  
    p {
      font-size: 0.81rem;
    }
  }
  
